<div class="main">
    <div class="heading">
        <h2>
            Developed by
        </h2>
        <h5 style="color:yellow">
            Modhak V Raj
        </h5>
        <h2 class="social">
            Social Links
        </h2>
        <div class="img-links">
            <a href="https://github.com/ModhakV">
                <img class="img-github"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/GitHub_logo_2013.svg/1199px-GitHub_logo_2013.svg.png?20220810213409"
                    alt="GitHub">
            </a>
            <a href="https://www.instagram.com/">
                <img class="img-insta"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png?20160616034027"
                    alt="Instagram">
            </a>
            <a href="https://in.linkedin.com/">
                <img class="img-linkedin"
                    src="https://www.nicepng.com/png/detail/380-3809524_linkedin-r-dark-full-logo-black-and-white.png"
                    alt="LinkedIn">
            </a>
            <a href="https://discord.com/">
                <img class="img-discord"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Discord_Black_Text_Logo_%282015-2021%29.svg/738px-Discord_Black_Text_Logo_%282015-2021%29.svg.png?20210508103924"
                    alt="Discord">
            </a>

        </div>
    </div>
</div>