<main>
  <div class="heading">
    <h2>Developed by</h2>
    <h5>Soorya U</h5>
  </div>

  <article>
    <h2>Social Links</h2>
    <div>
      <a href="https://github.com/soorya-u" target="_blank">
        <img
          class="img-github"
          src="https://soorya-u.github.io/Crypto-List/assets/socials/github.png"
          alt="GitHub"
        />
      </a>
      <a href="https://www.linkedin.com/in/soorya-u" target="_blank">
        <img
          class="img-linkedin"
          src="https://soorya-u.github.io/Crypto-List/assets/socials/linkedin.png"
          alt="LinkedIn"
        />
      </a>
      <a href="https://discord.com/users/soorya_u" target="_blank">
        <img
          class="img-discord"
          src="https://soorya-u.github.io/Crypto-List/assets/socials/discord.png"
          alt="Discord"
        />
      </a>
      <a href="https://www.instagram.com/sooryaa_u" target="_blank">
        <img
          class="img-insta"
          src="https://soorya-u.github.io/Crypto-List/assets/socials/instagram.png"
          alt="Instagram"
        />
      </a>
    </div>
  </article>
</main>
