@font-face {
  font-family: "JetBrains Mono";
  src: url("https://fonts.googleapis.com/css?family=JetBrains Mono");
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  margin: 0;
  padding: auto;

  .heading {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ghostwhite;
    font-family: "JetBrains Mono";
    @include no-select();

    h2 {
      font-family: "JetBrains Mono";
    }

    h5 {
      font-family: "JetBrains Mono";
      font-size: 30px;
    }

    .social {
      padding-top: 10vh;
      @include no-select();
    }

    .img-links {
        width: 40vw;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .img-github {
        height: auto;
        width: 100px;
        filter: invert(100%);
      }

      .img-insta {
        padding-top: 1vh;
        filter: invert(100%);
        height: auto;
        width: 145px;
      }

      .img-linkedin {
        filter: invert(100%);
        height: auto;
        width: 135px;
      }
      .img-discord {
        filter: invert(100%);
        height: auto;
        width: 150px;
      }
    }
  }
}
