<div class="color">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand link-text" href="https://github.com/soorya-u/Crypto-List" target="_blank">Crypto-List</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 link-text">
                    <li class="nav-item">
                        <a id="home-text"class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active link-text" routerLink="/about" style="color:ghostwhite; font-size: 135%;">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>