<div class="heading">
    <h1 style="color:yellow">
        CryptoList 
    </h1>
    <h1>
        Complete Update on Crypto Currencies
    </h1>
</div>
<div class="container-fluid design">
    <div class="card card-class" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/1200px-Bitcoin.svg.png" class="card-img-top" alt="Image of Bitcoin">
        <div class="card-body">
            <h3 class="card-title">Bitcoin</h3>
            <h5>$ {{usdprices?.bitcoin?.usd}}</h5>
            <h5>₹ {{inrprices?.bitcoin?.inr}}</h5>
            <a href="https://bitcoin.org/en/buy" class="btn btn-light">Buy Bitcoin</a>
        </div>
    </div>
    <div class="card card-class" style="width: 18rem;">
        <img src="https://www.spectre.ai/assets/images/assets/LTC-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">Litecoin</h3>
            <h5>$ {{usdprices?.litecoin?.usd}}</h5>
            <h5>₹ {{inrprices?.litecoin?.inr}}</h5>
            <a href="https://litecoin.com/en/buy" class="btn btn-light">Buy Litecoin</a>
        </div>
    </div>
    <div class="card card-class" style="width: 18rem;">
        <img src="https://www.spectre.ai/assets/images/assets/ETH-logo.png?v=2.13" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">Ethereum</h3>
            <h5>$ {{usdprices?.ethereum?.usd}}</h5>
            <h5>₹ {{inrprices?.ethereum?.inr}}</h5>
            <a href="https://ethereum.org/en/get-eth/" class="btn btn-light">Buy Ethereum</a>
        </div>
    </div>
    <div class="card card-class" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/512/6001/6001356.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">Dogecoin</h3>
            <h5>$ {{usdprices?.dogecoin?.usd}}</h5>
            <h5>₹ {{inrprices?.dogecoin?.inr}}</h5>
            <a href="https://dogecoin.com/wallets/" class="btn btn-light">Buy Dogecoin</a>
        </div>
    </div>
</div>