<main>
  <div class="heading">
    <h1 class="title">Crypto-List</h1>
    <h1>Complete Update on Crypto Currencies</h1>
  </div>

  <article>
    <div class="card-class">
      <img src="../../../assets/coins/BitCoin.png" alt="Image of Bitcoin" />
      <div class="card-body">
        <h3>Bitcoin</h3>
        <div class="price">
          <h5>$ {{ usdprices?.bitcoin?.usd }}</h5>
          <h5>₹ {{ inrprices?.bitcoin?.inr }}</h5>
        </div>
        <a href="https://bitcoin.org/en/buy" target="_blank">Buy Bitcoin </a>
      </div>
    </div>
    <div class="card-class">
      <img src="../../../assets/coins/LiteCoin.png" alt="Image of LiteCoin" />
      <div class="card-body">
        <h3>Litecoin</h3>
        <div class="price">
          <h5>$ {{ usdprices?.litecoin?.usd }}</h5>
          <h5>₹ {{ inrprices?.litecoin?.inr }}</h5>
        </div>
        <a href="https://litecoin.com/en/buy" target="_blank">Buy Litecoin </a>
      </div>
    </div>
    <div class="card-class">
      <img
        src="../../../assets/coins/Etherium.png"
        class="img-etherium"
        alt="Image of Etherium"
      />
      <div class="card-body">
        <h3>Ethereum</h3>
        <div class="price">
          <h5>$ {{ usdprices?.ethereum?.usd }}</h5>
          <h5>₹ {{ inrprices?.ethereum?.inr }}</h5>
        </div>
        <a href="https://ethereum.org/en/get-eth/" target="_blank"
          >Buy Ethereum
        </a>
      </div>
    </div>
    <div class="card-class">
      <img src="../../../assets/coins/DogeCoin.png" alt="Image of DogeCoin" />
      <div class="card-body">
        <h3>Dogecoin</h3>
        <div class="price">
          <h5>$ {{ usdprices?.dogecoin?.usd }}</h5>
          <h5>₹ {{ inrprices?.dogecoin?.inr }}</h5>
        </div>
        <a href="https://dogecoin.com/wallets/" target="_blank"
          >Buy Dogecoin
        </a>
      </div>
    </div>
  </article>
</main>
